---
import "../styles/global.css";
const { title = 'Thomas\' Event Planner' } = Astro.props;
---
<html lang="en" class="bg-space-900 text-white min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="font-sans">
    <main class="max-w-4xl mx-auto p-8">
      <slot />
    </main>
  </body>
</html>
